@font-face {
    font-family: monofont;
    src: url(fonts/TestSohneMono-Buch-BF663d89cbcec64.otf);
}

/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monofont;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    min-height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    color: #e7e7e7;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#navcontainer {
    display: flex;
    flex-direction: column;
}

/* Navigation Styles */
.navbar {
    padding: 1rem 0;
    margin: 0px auto;
    position: fixed;
    width: 100%;
    top: 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #e7e7e7;
    text-decoration: none;
    margin: 0px auto;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 0px auto;
    list-style: none;
}

.nav-links a {
    color: #e7e7e7;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ffffff;
}


/* Hero Section */
.hero {
    min-height: 60vh;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4rem 0;
}

.animated-text {
    font-size: 4rem;
    margin-bottom: 1rem;
    background: #b9c0ff;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: slideUp 2s ease;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Footer Styles */
.footer {
    padding: 2rem 0;
    text-align: center;
    margin-top: auto;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.social-links a {
    color: #e7e7e7;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
    .animated-text {
        font-size: 2.5rem;
    }

    .copytext {
        font-size: 0.8rem;
    }
}
